body {
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 500;
}
.container {
	max-width: 1024px;
	margin: 0 auto;
}
.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.footer {
	margin-top: auto;
}
