.your-events {
	&__sub-title {
		font-size: 30px;
		text-align: center;
		margin: 67px 0px 40px 0px;
	}
	&__wrapper {
		padding: 0px 50px 0px 50px;
		margin: 0px 0px 50px 0px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 40px;
	}

	&__item {
		position: relative;
	}

	&__img {
		width: 280px;
		height: 400px;
		position: relative;
		background-color: $mainColor;
		span {
			z-index: 2;
			position: absolute;
			top: 50%;
			left: 50%;
			color: $mainColorDark;
			font-size: 22px;
			text-align: center;
			line-height: 26px;
			text-transform: uppercase;
			transform: translate(-50%, -50%);
		}
		img {
			z-index: 3;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.events-text {
		max-width: 280px;
		font-size: 14px;
		font-weight: 600;
	}

	&__title {
		margin-top: 10px;
		text-transform: uppercase;
	}

	&__place {
		margin-top: 4px;
		color: $accentColor;
	}
	&__close {
		z-index: 5;
		cursor: pointer;
		position: absolute;
		top: 4px;
		right: 4px;
		.events__image {
			z-index: 6;
			width: 32px;
			height: 32px;
		}
	}
}
