<section class="events">
	<div class="container">
		<div class="events__wrapper">
			<div class="events__item">
				<div class="events__img">
					<span>Image isn`t uploaded</span>
					<img src="" alt="">
				</div>
				<h2 class="events__title events-text">Title</h2>
				<p class="events__place events-text">Lviv, Ukraine</p>
			</div>
			<div class="events__item">
				<div class="events__img">
					<span>Image isn`t uploaded</span>
					<img src="./images/events-photo-1.jpg" alt="">
				</div>
				<h2 class="events__title events-text">Title</h2>
				<p class="events__place events-text">Lviv, Ukraine</p>
			</div>
			<div class="events__item">
				<div class="events__img">
					<span>Image isn`t uploaded</span>
					<img src="./images/events-photo-1.jpg" alt="">
				</div>
				<h2 class="events__title events-text">Title</h2>
				<p class="events__place events-text">Lviv, Ukraine</p>
			</div>
			<div class="events__item">
				<div class="events__img">
					<span>Image isn`t uploaded</span>
					<img src="./images/events-photo-1.jpg" alt="">
				</div>
				<h2 class="events__title events-text">Title</h2>
				<p class="events__place events-text">Lviv, Ukraine</p>
			</div>
			<div class="events__item">
				<div class="events__img">
					<span>Image isn`t uploaded</span>
					<img src="./images/events-photo-1.jpg" alt="">
				</div>
				<h2 class="events__title events-text">Title</h2>
				<p class="events__place events-text">Lviv, Ukraine</p>
			</div>
			<div class="events__item">
				<div class="events__img">
					<span>Image isn`t uploaded</span>
					<img src="./images/events-photo-1.jpg" alt="">
				</div>
				<h2 class="events__title events-text">Title</h2>
				<p class="events__place events-text">Lviv, Ukraine</p>
			</div>
		</div>
	</div>
</section>