<section class="create-event">
	<div class="container">
		<div class="create-event__header event-header">
			<nav class="event-header__navigation">
				<p class="event-header__hello">Hello, Vlad!</p>
				<button class="event-header__exit">exit</button>
			</nav>
			<h3 class="event-header__title">Create event</h3>
		</div>
		<form action="#" class="create-event__form">
			<div class="create-event__wrapper">
				<span class="create-event__purpose">Title of event</span>
				<input type="text" name="title" class="create-event__input">
				<span class="create-event__purpose">Photo of event</span>
				<div>
					<label for="create-event__upload" class="create-event__upload create-event__input">Click to
						choose image</label>
					<input type="file" name="date" id="create-event__upload">
				</div>
				<span class="create-event__purpose">Date of event</span>
				<input type="text" name="date" class="create-event__input">
				<span class="create-event__purpose">Place of event</span>
				<input type="text" name="place" class="create-event__input">
				<span class="create-event__purpose">About event</span>
				<textarea wrap="soft" type="text" name="about" class="create-event__input-big">
			</div>
			<button class="create-event__submit">create event</button>
		</form>
	</div>
</section>