<section class="your-events">
	<div class="container">
		<h2 class="your-events__sub-title">Your events</h2>
		<div class="your-events__wrapper">
			<div class="your-events__item">
				<div class="your-events__img">
					<span>Image isn`t uploaded</span>
					<img src="" alt="">
				</div>
				<h2 class="your-events__title your-events-text"></h2>
				<p class="your-events__place your-events-text"></p>
				<div class="your-events__close">
					<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="15" cy="15" r="14.5" stroke="#FF9200" />
						<path
							d="M21 10.1079L19.8921 9L15.5 13.3921L11.1079 9L10 10.1079L14.3921 14.5L10 18.8921L11.1079 20L15.5 15.6079L19.8921 20L21 18.8921L16.6079 14.5L21 10.1079Z"
							fill="#FF9200" />
					</svg>
				</div>
			</div>
		</div>
	</div>
</section>